/* Footer */
.footer {
  font-size: 14px;
  font-weight: 400;
  padding-top: 90px;
  padding-bottom: 24px;
}

/* por dejabo de 768 */
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 70px;
  }
}
