.photo-grid-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 118px 50px 0px 50px;
  box-sizing: border-box;
}

.photo-grid__item img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 64px 24px 0px 24px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    padding: 38px 16px 0px 16px;
  }
}
